CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="16MB"
CONFIG_ESP32S3_DEFAULT_CPU_FREQ_240=y
CONFIG_FREERTOS_HZ=1000
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_VEETEE_BOARD_PROFILE="bread-compact-wifi-lcd"
CONFIG_VEETEE_PROTOCOL_PROFILE=3
CONFIG_VEETEE_ENABLE_HARDWARE=y
CONFIG_VEETEE_PTT_GPIO=0
CONFIG_VEETEE_PTT_ACTIVE_LEVEL=0
CONFIG_VEETEE_MIC_BCLK_GPIO=5
CONFIG_VEETEE_MIC_WS_GPIO=4
CONFIG_VEETEE_MIC_DIN_GPIO=6
CONFIG_VEETEE_SPK_BCLK_GPIO=15
CONFIG_VEETEE_SPK_WS_GPIO=16
CONFIG_VEETEE_SPK_DOUT_GPIO=7
CONFIG_VEETEE_MIC_SAMPLE_RATE=16000
CONFIG_VEETEE_SPK_SAMPLE_RATE=24000
CONFIG_VEETEE_AUDIO_FRAME_DURATION_MS=60
